h1 {
    font-size: 1.2rem;
    text-align: center;
}

.disconnected {
    width: 370px;
    height: 400px;
}

.back-button {
    background: #afc3ff;
    margin: auto;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    border: none;    
    border-radius: .625rem;
    cursor: pointer;
    transition: 500ms;
}

.back-button:hover {
    background: #ee9067;
    transition: 500ms;
} 

.copyright {
    font-size: 0.7rem;
}