body {
    background: linear-gradient(to right, #FFFDD8 0%, #FFF88A 100%);
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    place-content: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #aaaca6;
}

.header-image {
    display: inline-block;
    margin: 2rem auto;
    width: 10rem;
    clip-path: circle(50%);
}

.instagram-config {
    margin: 0.7rem 0 1rem 0;
    line-height: 0.5;
}

.user-name a {
    color: #000;
    font-size: 17px;
    text-decoration: none;
}

.user-name a:hover {
    text-decoration: underline;
}

.bio {
    font-size: 16px;
    font-weight: 400;
}

.attendance {
    color: #27c5ab;
    font-size: 13px;
}

.links-container button {
    width: 70%;
    background: none;
    color: #000;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    transition: 500ms;
}

.links-container button:hover {
    background: #000;
    color: #DBCE2C;
    transition: 500ms;
} 

.footer-image {
    width: 10rem;
    margin-bottom: 1rem;
    clip-path: circle(50%);
}

.copyright {
    color: #000;
    text-decoration: none;
}

.developer-insta {
    text-decoration: underline;
    color: #000;
}